.navigation {
  border-bottom: 2px solid transparent;
}
.navigation-hover {
  color: #1890ff;
  border-bottom: 2px solid #1890ff;
  transition: color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), border-color 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), background 0.3s cubic-bezier(0.645, 0.045, 0.355, 1), padding 0.15s cubic-bezier(0.645, 0.045, 0.355, 1);
}
